.text-center{
    text-align: center;
}

ion-content{
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
}

.captured-image{
    width:200px;
    height:200px
}

.cross-icon{
    position: absolute;
	right: 70px;
    top: -10px;
	font-size: 24px;
    background: red;
    border-radius: 50%;
}

.image_upload_div{
    position: relative;
}

.header-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }